@font-face {
    font-family: 'prostoOne';
    src: url('../fonts/ProstoOne-Regular.ttf') format('truetype');
    font-weight: 400;
}
@font-face {
    font-family: 'montserrat';
    src: url('../fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
    font-weight: 400;
}